
/* BootStrap Logo */
.navbar-brand{
    font-size: 26px;
}
/* ============== */

.box{
    position: relative;
    top:      30px;
}

section.banner{
    padding:             210px 0;
    position:            relative;
    min-height:          400px; /* 700px */
    width:               100%;
    background-image:    url("../imgs/bg.jpg");
    background-size:     cover;
    background-position: center; /* This propriety will always centralize de image */
}

section.banner > .container{
    position: relative;
    z-index:  2;
}

.overlay{
    z-index:    1;
    width:      100%;
    height:     100%;
    left:       0;
    top:        0;
    position:   absolute;
    background: rgba(0,0,0, .4);
}

.chamada-banner h2{
    color:     #26A599;
    font-size: 50px;
}

.chamada-banner p{
    margin:      24px 0;
    color:       white;
    font-size:   21px;
    font-weight: lighter;
}

.chamada-banner a{
    display:    inline-block;
    color:      white;
    font-size:  19px;
    padding:    10px 18px;
    background: #26A69A;
}

/* ============================== */
/* Criando site com BootStrap 2/5 */

section.cadastro-lead{
    background: #26A69A;
    padding:    20px 0;
}

section.cadastro-lead h2{
    color:     white;
    font-size: 24px;
}

section.cadastro-lead form{
    position: relative;
    top:      10px;
}

section.cadastro-lead input[type="text"]{
    width:   85%;
    padding: 0px 0px 0px 8px;
    height:  40px;
    border:  1px solid #ccc;
}

section.cadastro-lead input[type="submit"]{
    width:          15%;
    height:         40px;
    border:         1px solid #ccc;
}
/* 
@media screen and (max-width: 1024px){
    section.cadastro-lead form{
        position: relative;
        top:      0px;
    }
} */

/* ============================== */
/* Criando site com BootStrap 2/5 */

section.depoimento h2, blockquote{
    color: #4b4b4b;
}

section.depoimento blockquote{
    font-size: 18.5px;
}

section.depoimento{
    margin: 23.65px 0px 50px 0px;
}

section.diferenciais{
    padding:    30px 0;
    background: rgb(225,225,225);
}

section.diferenciais > h2{
    color: #4b4b4b;
}

.diferenciais-container{
    margin-top: 30px;
}

.diferenciais-container h3{
    color: #26A69A;
}

.diferenciais-container h2{
    font-size: 27.8px;
}

/* ============================== */
/* Criando site com BootStrap 4/5 */

.equipe-container{
    padding-top: 30px;
    padding-bottom: 30px;
}

section.equipe h2{
    background: #26A69A;
    color:      white;
    margin:     0;
    text-align: center;
    padding:    30px 0;
}

.equipe-single{
    margin-bottom: 15px;
    width:         100%;
    padding:       20px 10px;
    border:        1px solid #ccc;
    box-shadow:    8px 7px 5px -3px rgba(20,20,20, .6);

}

.user-picture{
    width:    100%;
    padding:  100% 0 0 0;
    position: relative;
    left:     50%;
    transform: translate(-50%, 0);
}

.user-picture-child{
    position:         absolute;
    left:             0;
    top:              0;
    width:            100%;
    height:           100%;
    background-color: gray;
    border-radius:    15px;
}

/* ============================== */
/* Criando site com BootStrap 5/5 */

section.final-site{
    padding:    30px 0;
    color:      #4b4b4b;
    background: rgb(225,225,225);
    border-top: 2px solid #000000;
}

section.final-site textarea{
    height: 120px;
}

section.final-site h2{
    margin:    20px;
    font-size: 28px;
}

footer{
    border-top: 2px solid #000000;
    background: rgb(225,225,225);
    padding:    15px 0;
}

footer p{
    margin: 0;
}

/* ============================== */

@media screen and (max-width: 1024px){
    /* ============================== */
    .user-picture{
        width:         40%;
        padding-top:   40%;
        position:      relative;
    }
    /* ============================== */
    section.cadastro-lead form{
        position: relative;
        top:      0px;
    }
    /* ============================== */
}


@media screen and (max-width: 500px){
    /* ============================== */
    .chamada-banner h2{
        color:     #26A599;
        font-size: 35px;
    }
    /* ============================== */
    section.cadastro-lead input[type="submit"]{
        width:   200px;
        margin:  8px;
        display: inline-block;
    }
    /* ============================== */
}

